<form [formGroup]="formPreview" (ngSubmit)="onSubmit()">
  <div formGroupName="components">
    @for (c of formComponents; track c.name) {
      <mat-form-field>
        <mat-label>{{ c.label + ":" }}</mat-label>
        @if (c.type === "select") {
          <mat-select id="c.name" [formControlName]="c.name">
            @for (v of c.values; track v) {
              <mat-option [value]="v">{{ v }}</mat-option>
            }
          </mat-select>
        } @else {
          <input
            matInput
            [id]="c.name"
            [type]="c.type"
            [formControlName]="c.name"
          />
        }
        @if (getValidationErrorMessage(c.name)) {
          <mat-error>{{ getValidationErrorMessage(c.name) }}</mat-error>
        }
      </mat-form-field>
      <br />
    }
  </div>
  <mat-dialog-actions align="center">
    <button type="submit" mat-raised-button [disabled]="!isFormValid()">
      Submit
    </button>
  </mat-dialog-actions>
</form>
