<form [formGroup]="formPreview" (ngSubmit)="onSubmit()">
  <div formGroupName="components">
    @for (c of formComponents; track c.label) {
      <mat-form-field>
        <mat-label>{{ c.label + ":" }}</mat-label>
        @if (c.element === "select") {
          <mat-select id="c.name" [formControlName]="c.label">
            @for (v of c.values; track v) {
              <mat-option [value]="v">{{ v }}</mat-option>
            }
          </mat-select>
        } @else {
          <input
            matInput
            [id]="c.label"
            [type]="c.element"
            [formControlName]="c.label"
          />
        }
        @if (getValidationErrorMessage(c.label)) {
          <mat-error>{{ getValidationErrorMessage(c.label) }}</mat-error>
        }
      </mat-form-field>
      <br />
    }
  </div>
  <mat-dialog-actions align="center">
    <button type="submit" mat-raised-button [disabled]="!isFormValid()">
      Submit
    </button>
  </mat-dialog-actions>
</form>
